@model FormValidationGridApp.Models.Person

<div class="container mt-4">
    <h2 class="text-center">Add New Person</h2>
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Age, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </div>
    </div>
</div>

@* Validation scripts *@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
